div.block-group {
    border: $card-border-width solid $card-border-color;

    div.row.block-row {
        div.block-left {
            min-height:       35px;
            font-weight:      600;
            background-color: rgba(0, 111, 157, 0.05);
        }

        div.block-right {
            min-height: 35px;
        }

        &:nth-child(even) {
            background-color: $bg-even;
        }

        &:nth-child(odd) {
            background-color: $bg-uneven;
        }
    }

    @for $i from 1 through 60 {
        $width: 5 * $i + 20;
        &.l-#{$width} div.row.block-row div.block-left {
            width: $width * 1px;
        }
    }
}