.block-title {
    padding-left: #{map-get($spacers, 2)};
}

div.block-group {
    border: $card-border-width solid $card-border-color;

    div.row.block-row {
        &:nth-child(even) {
            background-color: $bg-even;
        }

        &:nth-child(odd) {
            background-color: $bg-uneven;
        }

        &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        div.block-left {
            min-height: 1rem;
            font-weight: 600;
            background-color: rgba(0, 111, 157, 0.05);
        }

        div.block-right {
            min-height: 1rem;

            & > span {
                width: 100%;
            }
        }
    }

    @for $i from 1 through 60 {
        $width: 5 * $i + 20;
        &.l-#{$width} div.row.block-row div.block-left {
            width: $width * 1px;
        }
    }
}

.card > .block-group {
    border: none;
}

.block-group + .block-title {
    margin-top: #{map-get($spacers, 3)};
}
