.card-tabs {
    .card-header {
        background-color: #cccccc;
        border-top: #888888 1px solid;
        border-left: #888888 1px solid;
        border-right: #888888 1px solid;
    }

    .card-header-tabs {
        .nav-link {
            color: black;
        }
        .nav-link.active {
            color: black;
        }
    }
}
