.card-tabs-vertical {
    display: flex;

    .card-header-vertical {
        background-color: rgba(0, 0, 0, 0.1);
        border-right: #888888 1px solid;

        .nav-pills {
            .nav-item {
                .nav-link {
                    border-bottom: $card-border-width solid $card-border-color;
                    border-radius: 0;
                    color: #000000;
                    border-color: rgba(0, 100, 118, 0.6);

                    &.active {
                        background-color: #FFFFFF;
                        border-right: $card-border-width solid #ffffff;
                        margin-right: -1px;
                    }
                }
            }
        }
    }

    .tab-content {
        border: 0;
        border-radius: 0;
    }
}
